.styles {
    background-color: rgb(200, 200, 200);
    width: 300px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    padding: 30px 0px 0px 0px;
    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
	.ns{font-family: 'Noto Serif', serif;
    }
}