@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.styles {
    background-color: rgb(200, 200, 200);
}

.ns {
    font-family: 'Noto Serif', serif;
}

body{
    margin: 0px;
}
header{
    margin: 40px;
}
main{
    margin: 20px;
}
footer{
    margin: 20px;
}
.navbar ul{
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: beige;
}
.navbar li{
    float: left;
}